@import "main.css";

/* font-family: 'Nunito', sans-serif;  */
/* font-family: 'Open Sans', sans-serif;
 */
 .left_side_bg {
    background-image: url("../assets/unsplash.png");
}
.text_content {
    position: absolute;
    top: 251px;
    left: 132px;
}
.text_content h2 {
    font-size: 26px;
    line-height: 45px;
    font-weight: 800;
    width: 423px;
    color: #212529;
}
.text_content h3 {
    font-weight: 500;
    font-size: 24px;
    margin-top: 20px;
    line-height: 33px;
    color: #E5E6E8;
}
.text_content h2,
.text_content h3 {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

/* right side */
.right_side {
    position: relative;
}
.right_side > .header  {
    display: flex;
    align-items: center;
    padding-left: 48px;
    height: 84px;
    width: 997px;
    border-bottom: 1px solid #B9B4C34D;
}
.right_side > .header h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
}
.right_side .main_content {
    padding-left: 48px;
    padding-top: 60px;
}
/* steps */
.right_side .main_content .steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 366px;
}
.right_side .main_content .steps::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 103px;
    width: 174px;
    height: 1px;
    background-color: #B9B4C34D;
}
.right_side .main_content .number {
    width: 40px;
    height: 40px;
    margin-inline: auto;
    margin-bottom: 4px;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.right_side .main_content .first_step .number {
    background: #FFFFFF;
    color: #212529;
}
.right_side .main_content .sec_step .number {
    background: #F5F5F5;
    color: #95939A;
}
.right_side .main_content .text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.active {
    background-color: #E9FAF1 !important;
}
/* form */
.right_side .main_content .header {
    margin-top: 112px;
}
.right_side .main_content .header h2{
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}
.right_side .main_content .header h4 {
    font-size: 14px;
    line-height: 21px;
    color: #95939A;
    text-transform: capitalize;
}
.right_side .main_content .header h2,
.right_side .main_content .header h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
}
.form_block {
    margin-top: 85px;
}
.form_block form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 775px;
    
}
.form_block form > div {
    width: 100%;
    position: relative;
}
.form_block form > div .success {
    display: none;
    position: absolute;
    right: 13px;
    top: 13px;
}
.form_block form input {
    width: 100%;
    padding: 8px 16px;
    font-size: 20px;
    height: 46px;
    background: #FFFFFF;
    border: none;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    outline: none;
}
.form_block form input[name=date] {
    padding-right: 40px;
}
.form_block form input::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #212529;
    font-size: 20px;
}
.form_block form input:hover {
    background-color: #F8F9FA;
}
.form_block form input:hover::placeholder {
    color: #21252980;
}
.form_block form input:active {
    background-color: #E9ECEF;
}
.inputError {
    background-color: #FFEFEF !important;
    color: #DC3545;
}
.form_block .button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form_block .button a,
.form_block .button button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    border-radius: 8px;
    padding: 13px 24px;
    height: 53px;
    text-decoration: none;
}
.form_block .button a {
    color: #212529;
    width: 93px;
    border: 1px solid #212529;
}
.form_block .button a:hover {
    border-color: #C2A5F9CC;
    background-color: #B9B4C34D;
}
.form_block .button button{
    gap: 12px;
    background-color: #212529;
    color: #FFFFFF;
    border-style: solid;
    border-color: transparent;
    border-width: 4px;
    cursor: pointer;
}
.form_block .button button:hover {
    box-shadow: 0px 1px 4px #C2A5F9, 0px 0px 0px 3px #C2A5F9;
}


/* message box */
.message_box {
    position: absolute;
    right: 50px;
    top: 100px;
}
.message_box li {
    list-style-type: none;
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}
.message_box li > .msg_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #DC3545;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 7px 12px;
}
.message_box li > .msg_header .close {
    color: #95939A;
}
.message_box li > .msg_header h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.message_box li > .msg_header > div:first-child {
    display: flex;
    align-items: center;
    gap: 8px;
}
.message_box li > .msg_body {
    padding: 9px 12px;
}
.message_box li > .msg_body > p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #212529;
}
