@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main.container {
    width: 1920px;
    height: 1280px;
    margin: auto;
}
main {
    display: flex;
}
/* left side */
.left_side.container {
    width: 923px;
}
.left_side .header {
    position: relative;
    width: 100%;
    height: 84px;
    background-color:#7025FB;
}
.left_side .header_container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
}
.left_side .header .icon {
    width: 14.67px;
    height: 18.33px;
    margin-right: 8px;
}
.left_side_bg {
    position: relative;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1195px;
}
